
.fa-star
{
    color: gold;
    font-size: 1.4rem;
}
p
{
    margin: 1rem 0;
    
}
.secondColor {
    color:#949cb0;

}
h6
{
    background-color:#24baef;
    font-size: 1.3rem;

}